*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    padding-bottom: 88px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    font-family: Fraunces, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
}
