.header{
    padding-bottom: 44px;
    padding-top: 20px;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-img{
        width: 236px;
        height: 26px;
        vertical-align: middle;
    }

    &__nav-link{
        text-decoration: none;
        font-family: Barlow;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        margin-left: 33px;

        &:hover{
            color: $dark_grey_blue;
        }
    }

		&__menu {
            display: none;
		}

		&__button-on-img {
            display: block;
		}

		&__button-off-img {
            display: none;
		}


}

.header__nav-link--active{
    color: #333D4B;
}

@media only screen and (max-width: 768px) {
    // header
    .header {
        padding-bottom: 53px;



}
.container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
}
  }

  @media only screen and (max-width: 720px){
    .header {
        margin-bottom: 40px;

		&__container {
            width: 100%;
		}


        nav{
            display: none;
        }




		&__menu {
            display: block;
		}


}

  }